<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to 'FIUBA Campus Móvil - Administrador', admin_root_path %></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <% if admin_signed_in?%>
          <li class="has-dropdown">
            <a href="#"><%= current_admin.email %></a>
            <ul class="dropdown">
              <li><%= link_to 'Desconectar', destroy_admin_session_path, :method => :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'Ingresar', new_admin_session_path %></li>
          <li><%= link_to 'Registrarse', new_admin_registration_path %></li>
        <% end %>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
        <% if admin_signed_in?%>
          <li><%= link_to 'Usuarios', admin_users_path %></li>
          <li class="has-dropdown">
            <a href="#">Reportes</a>
            <ul class="dropdown">
              <li><%= link_to 'Carreras', admin_chart_carreras_path %></li>
              <li><%= link_to 'Alumnos', admin_chart_alumnos_path %></li>
              <li><%= link_to 'Discusiones', admin_chart_foros_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </section>
  </nav>
</div>
