<div class="row">
	<div class="small-8 columns">
		<!-- Colocamos el form para seleccionar el rango de fechas -->
		<form action="chart_foros">
			<table>
				<tr>
					<td>
						Fecha desde:
						<input type="text" name="initialDate" value=<%= @initialDate %>>
					</td>
					<td>
						Fecha hasta:
						<input type="text" name="finalDate" value=<%= @finalDate %>>
					</td>
					<td>
						<input type="submit" value="Actualizar">
					</td>
				</tr>
			</table>
		</form>
	</div>
	<div class="small-4 columns">
		<h6>
			<b>Exportar: </b>
			<a class="button-export" id="export-foros-to-pdf" href="#">PDF</a>
		</h6>
	</div>
</div>

<div class="row">
	<% if @userResponseMessage.length == 0 %>
		<div class="small-4 columns" id="table-foros">
			<table>
				<tr>
					<th>Numero</th>
					<th>Grupo</th>
					<th>Miembros</th>
					<th>Discusión</th>
					<th>Comentarios</th>
				</tr>
				<% i = 1 %>
				<% @discussions.each do |discussion| %>
					<tr>
						<td><%= i %></td>
						<td><%= discussion.forum.group.name %></td>
						<td><%= discussion.forum.group.members.size %></td>
						<td><%= discussion.subject %></td>
						<td><%= @discussionsActivity[discussion] %></td>
					</tr>
					<% i += 1 %>
				<% end %>
			</table>
		</div>
		<div class="small-8 columns">
			<%= high_chart("chart-foros", @chart_foros) %>
		</div>
	<% else %>
		<div class="small-12 columns">
			<%= @userResponseMessage %>
		</div>
	<% end %>
</div>
