<!-- Colocamos el form para seleccionar el rango de fechas -->
<form action="chart_foros">
	<table>
		<tr>
			<td>Fecha desde: <input type="text" name="initialDate" value=<%=@initialDate%>></td>
			<td>Fecha hasta: <input type="text" name="finalDate" value=<%=@finalDate%>></td>
			<td><input type="submit" value="Submit"></td>
		</tr>
	</table>
</form> 

<% if @userResponseMessage.length == 0 %>
<table>
	<tr>		
		<td>
			<!-- Colocamos la tabla -->
			<table>
				<tr>
					<td><b>Grupo</b></td><td><b>Cantidad de integrantes</b></td><td><b>Foro</b></td><td><b>Comentarios</b></td>
				</tr>

				<% @discussions.each do |discussion| %>
				    <tr>
					    <td><%= discussion.forum.group.name %></td>
					    <td><%= discussion.forum.group.members.size %></td>
					    <td><%= discussion.subject %></td>
					    <td><%= @discussionsActivity[discussion] %></td>
				    </tr>
				<% end %>
			</table>
		</td>

		<td width="75%" valign="top">
			<!-- Colocamos el gráfico -->
			<%= high_chart("my_id", @chart_foros) %>
		</td>
	</tr>
</table>
<% else %>
	<%= @userResponseMessage %>
<% end %>
