<%= high_chart("my_id", @chart_carreras) %>

<!--<ul>


<li><%=  @approved_users.inspect %></li>

<li><%=  @carreers_name.inspect %></li>

<li><%=  @total_numer_of_approved_users.inspect %></li>

<li><%=  @carreers.inspect %></li>

</ul>-->