<h1>Usuarios de FIUBA Campus Móvil</h1>

<dl class="sub-nav tab" data-tab>
  <dd class="tab-title active"><a href="#panel1">Pendientes</a></dd>
  <dd class="tab-title"><a href="#panel2">Activos</a></dd>
  <dd class="tab-title"><a href="#panel3">Suspendidos</a></dd>
  <dd class="tab-title"><a href="#panel4">Todos</a></dd>
</dl>

<div class="tabs-content">

  <section class="content active" id="panel1">
    <% unless @unapproved_users.empty? %>
      <table>
        <tr>
          <th>Nombre y Apellido</th>
          <th>Padrón</th>
          <!--<th>Carrera</th>-->
          <th>Correo Electrónico</th>
          <th colspan="1"></th>
        </tr>
        <% @unapproved_users.each do |user| %>
          <tr>
            <td><%= user_full_name user %></td>
            <td><%= user_padron user %></td>
            <td><%= user.email %></td>
            <td><%= link_to approve_user(user), admin_user_approve_path(user), method: :post, data: user, class: 'button-action' %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <h5>No hay usuarios para aprobar</h5>
    <% end %>
  </section>

  <section class="content" id="panel2">
    <% unless @active_users.empty? %>
      <table>
        <tr>
          <th>Nombre y Apellido</th>
          <th>Padrón</th>
          <th>Correo Electrónico</th>
          <th colspan="1"></th>
        </tr>
        <% @active_users.each do |user| %>
          <tr>
            <td><%= user_full_name user %></td>
            <td><%= user_padron user %></td>
            <td><%= user.email %></td>
            <td><%= link_to ban_user(user), admin_user_ban_path(user), method: :post, data: user, class: 'button-action' %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <h5>No hay usuarios activos</h5>
    <% end %>
  </section>

  <section class="content" id="panel3">
    <% unless @banned_users.empty? %>
      <table>
        <tr>
          <th>Nombre y Apellido</th>
          <th>Padrón</th>
          <th>Correo Electrónico</th>
          <th colspan="1"></th>
        </tr>
        <% @banned_users.each do |user| %>
          <tr>
            <td><%= user_full_name user %></td>
            <td><%= user_padron user %></td>
            <td><%= user.email %></td>
            <td><%= link_to ban_user(user), admin_user_unban_path(user), method: :post, data: user, class: 'button-action' %></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <h5>No hay usuarios suspendidos</h5>
    <% end %>
  </section>

  <section class="content" id="panel4">
    <% unless @all_users.empty? %>
      <table>
        <tr>
          <th>Nombre y Apellido</th>
          <th>Padrón</th>
          <th>Correo Electrónico</th>
          <th colspan="2">Aprobado</th>
          <th colspan="2">Suspendido</th>
        </tr>
        <% @all_users.each do |user| %>
          <tr>
            <td><%= user_full_name user %></td>
            <td><%= user_padron user %></td>
            <td><%= user.email %></td>
            <td><%= approve_user_status user %></td>
            <% if user.approved %>
              <td colspan="1"></td>
              <td><%= banned_user_status user %></td>
              <td><%= link_to ban_user(user), ban_unban_user_path(user), method: :post, data: user, class: 'button-action' %></td>
            <% else %>
              <td><%= link_to approve_user(user), admin_user_approve_path(user), method: :post, data: user, class: 'button-action' %></td>
              <td colspan="2"></td>
            <% end %>
          </tr>
        <% end %>
      </table>
    <% else %>
      <h5>No hay usuarios registrados</h5>
    <% end %>
  </section>

</div>
