<!DOCTYPE html>
<html lang="en">
  <head>
    <%= yield :head %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "FIUBA Campus Móvil WS" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="row full-width full-height">
      <div class="small-12 columns full-height" id="layout-content">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
